<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h1>Opciones</h1>
    <button mat-icon-button routerLink="/persona" ><mat-icon>person_add</mat-icon>agregar contactos</button><br><br>
    <button mat-icon-button routerLink="/personalist"><mat-icon>contact_mail</mat-icon>lista de contactos</button><br><br>
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-raised-button color:primmary (click)="drawer.toggle()">
      COMENZAR
    </button>
  </div>

</mat-drawer-container>